.images{
    width: 80px;
    border-radius: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px gray;
    padding: 40px;
    border-radius: 10px;

}
#cards{
    gap: 40px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
    flex-wrap: wrap;
    background-color:rgb(186, 183, 183);
   
}
.inpu{
    border: none;
    background-color: white;
    width: 250px;
    height: 28px;
    border-radius: 4px;
    padding-left: 20px;
    font-weight: 800;
}
.button{
    border: none;
    background-color: #41619d;
    width: 80px;
    height: 30px;
    border-radius: 6px;
    color: white;

}
.input{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.png{
    width: 40px;
    height: 40px;
   
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.heading{
    font-size: 25px;
  font-weight: 1000;
}
.button:hover{
    background-color: #052561;
    cursor: pointer;
}

.bigImage{
    width: 300px;;
    height: 300px;;
    border-radius: 20px;
}
.ProfileCard{
    /* margin-top: 50px; */
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px 100px;
    align-items: center;
    flex-direction: row;
}
.nameUser{
    
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #41619d;
    color: white;
    border-radius: 10px;
}
.followersUser{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #b711d1;
    color: white;
    border-radius: 10px;
    padding: 0 8px;
   

}
.followingUser{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #be5c2b;
    color: white;
    border-radius: 10px;

}
.responUser{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #3fa918;
    color: white;
    border-radius: 10px;

}
.logos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   gap: 20px;
    width: 300px;
}
